body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/*-----------------------------------------HEADER---------------------------------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    /**/ 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); /**/
  width: 320px;
}

.nav-one {
  align-items: center;
  display: flex; /*--test--*/
  padding-top: 16px;
  padding-bottom: 16px;
}

.web {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: block;
}

.logo-header {
  color: #2e2f42;
  display: inline-block;
}

.top-line-bg {
  color: rgb(64, 75, 191);
  position: relative;
}

.top-line-bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(64, 75, 191);
  left: 0;
  border-radius: 2px;
  bottom: 0;
  align-items: flex-end;
  border-radius: 2px;
  bottom: -1px;
}

.address {
  display: none;
  font-style: normal;
  gap: 40px;
}

.mailto {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /**/
}

.mailto:hover .mailto:focus {
  color: #404bbf;
}

.menu-nav:focus .menu-nav:hover {
  color: #404bbf;
}

/*--------------------------------------------header mobile-------------------------------*/
.newbr {
  border-style: inherit;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu {
  width: 320px;
  height: 640px;
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 1;
  padding: 24px 24px 40px 16px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.new-button {
  width: 24px;
  height: 24px;

  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: rgb(231, 233, 252);
  border-radius: 50%;
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-menu-window {
  width: 151px;
  height: 200px;
  padding-top: 74px;
}
.menu-window {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: black;
  width: 109px;
}

.mob-menyu-item {
  margin-bottom: 40px;
}
.mob-menyu-item:first-child .menu-window {
  color: rgb(64, 75, 191);
}

.windows-adress {
}
.address-window {
  width: 193px;
  height: 72px;
  margin-top: 166px;
}

.mailto-window-list {
  margin-bottom: 24px;
}
.mailto-window {
  letter-spacing: 1.1;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  color: rgb(67, 68, 85);

  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailto-window-list:first-child .mailto-window {
  color: rgb(64, 75, 191);
}

.header-mobile-icons {
}
.header-menu-icons {
  display: flex;
  gap: 16px;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  margin-top: 48px;
}
.header-social-item {
  width: 40px;
  height: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-svg-social {
  align-content: center;
}
/*--------------------------------------------SECTION-ONE-------------------------------*/

.title {
  color: #ffffff;
  width: 216px;
  font-size: 36px;
  height: 160px;

  font-weight: 700;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  margin-top: 72px;
}
.section-one {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background_mob.jpeg);
  padding-top: 16px;
  max-width: 320px;
  height: 435px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-resolution: 2x) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background_mob_2x.jpg);
  }
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  gap: 10;
  margin: 46px auto 0px auto;
  /*--margin-top: 46px;--*/
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.flex-class-section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu {
}
/*------------------------------------SECTION-TWO-------------------------------------*/
.section-two {
  background-color: #ffffff;

  padding-top: 120px;

  padding-bottom: 120px;
  /* margin-left: 99px;*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.list-advantages {
  display: flex;
  flex-wrap: wrap;

  gap: 24px;
}

.advantages-list {
  /* width: calc((100% - 70px) / 2);
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8;*/

  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8;
  padding: 0px;
}
.list-name {
  color: #2e2f42;
  font-weight: 500;

  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 0px;
  width: 288px;
  height: 40px;
  text-align: center;
  font-size: 36px;
}

.list {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.019em;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: left;
  /*margin-bottom: 16px;*/
}

.flex-class-section-two {
  display: flex;
  text-align: center;
  gap: 8px;
}

/*
.section-two-icon {
  width: 264px;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}*/
/*----------------------------SECTION-THREE----------------------------*/

.section-three {
  background-color: #f4f4fd;

  padding-top: 96px;
  padding-bottom: 96px;
  box-sizing: border-box;
  /*border: 1px solid rgb(0, 0, 0); PK*/
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(244, 244, 253);
}

.our-team {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.section-three-ul {
  display: flex;
  flex-direction: column; /*new code*/
  gap: 24px; /*new code*/
  align-items: center; /*new code*/
}

.section-three-li {
  background-color: #ffffff;
  width: calc((100% - 72px) / 1);
  /*width: calc((100% - 72px) / 4);*/

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background: rgb(255, 255, 255);
  width: 264px; /*new code */
  height: 428px; /*new code*/
}

.team-name-position {
  padding-top: 32px;
  padding-bottom: 32px;
}

.name-team {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 8px;
}

.position-team {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-three-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8px;
  margin-left: 16px;
}

.section-three-item {
  margin-right: 20px; /*--*/
  width: 40px;
  height: 40px;
}

.section-three-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /*1*/
}
/*--
.section-three-icon {
  position: static;

  background-color: #0073e6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
--*/
.section-three-icon:hover {
  background-color: #404bbf;
}
.section-three-icon:focus {
  background-color: #404bbf;
}

.section-three-icon-svg {
  fill: #f4f4fd;
}
/*----------------------------------SECTION FOUR(4)--------------------------------*/

.section-four {
  padding: 120px 0 120px 0;
}

.our-portfolio {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-top: 0px;
}

.portfolio-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 0px;
}
.portfolio-list-ul {
  display: flex;
  flex-direction: column; /*new code*/
  gap: 24px; /*new code*/
  align-items: center; /*new code*/
  width: 288px; /*new code*/

  /*
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;*/
}

.portfolio-list {
  width: 100%;
  /*width: calc((100% - 48px) / 1);*/
  /*width: calc((100% - 48px) / 3);*/
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list:hover .text-cover {
  transform: translateY(0%);
}

.text-cover {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  height: 100%;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /*---background-color: #404bbf;------*/
  /*---color: white;------*/
  transform: translateY(100%);
  /*---transition: transform 300ms linear;---*/
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
}

.port-list-container {
  position: relative;
  overflow: hidden;
}

.portfolio-name-portfolio-discripion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8;
  padding: 32px 16px 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 0px;
}

.portfolio-name {
}

.portfolio-discripion {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*------------------------------FOOTER---------------------------------*/
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.web-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  /*margin-right: 76px;*/
  margin-left: 86px;
  display: inline-block;
}

.logo-footer {
  color: #f4f4fd;
}

.logo-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;

  font-size: 16px;

  width: 288px; /*new code*/
  height: 72px; /*new code*/
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-footer-inline-block {
  display: inline-block;
  display: block;
  flex-direction: column;
}

.social-media {
}
.logo-par {
  display: flex;
  flex-direction: column;
}

.footer-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  margin-top: 72px;
  text-align: center;
}

.foter-social-ul {
  display: flex;
  gap: 16px;
  flex-direction: row;
}
.social-media-item {
  width: 40px;
  height: 40px;
  margin-bottom: 72px; /*new code*/
}

.social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover {
  background-color: #31d0aa;
}

.social-media-link:focus {
  background-color: #31d0aa;
}
.social-svg {
  fill: #f4f4fd;
}

.subs-footer {
  display: flex;
  flex-direction: column;

  align-items: center;

  /*justify-content: space-between;*/
  /*width: 453px;PK
  height: 80px;PK
  /*margin-left: 80px;PK*/
  /*padding-top: 92px;PK*/
  padding-left: 16px;
  padding-right: 16px;
}
.text-sub {
  background-color: #2e2f42;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  /*text-align: left; PK*/
  text-align: center;
  margin-bottom: 16px;
}

.subscribe-form {
  gap: 24px;
}
.input-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.input-email::placeholder {
  color: #ffffff;
}
.footer-field {
}
.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;

  border-radius: 4px;
  /*padding: 8px 24px;*/
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  min-width: 165px;
  height: 40px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.images-svg-foter {
  margin-left: 16px;
}

/*------------------------------OTHERS---------------------------------*/
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  max-width: 320px;

  /* max-width: 1158px;для пк*/
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-class {
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*------------------------------MODAL---------------------------------*/

.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px; /**/
}
.modal {
  width: 288px;
  min-height: 623px;
  top: 30%;
  padding: 72px 24px 24px 24px;
  left: 50%;
  background-color: rgb(252, 252, 252);
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 72px 16px 16px 24px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: rgb(231, 233, 252);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-title {
  color: rgb(46, 47, 66);
  font-family: Roboto;
  font-size: 16px;
  width: 256px;
  height: 48px;

  letter-spacing: 2%;
  text-align: center;
  /*margin-top: 74px;*/
  left: 28px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px; /**/
}

.modal-form {
  margin-top: 16px;
}
.modal-name {
}

.input-name {
  width: 100%;
  height: 40px;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 40px;
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name:focus {
  border-color: #4d5ae5;
}

.input-name:focus + .icons-label {
  fill: #4d5ae5;
}

.modal-button-two {
  display: block;
  margin: 0 auto 24px;
  min-width: 169px;
  height: 56px;
  position: relative;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  letter-spacing: 4%;
  top: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.images-foter {
  fill: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0px;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  /*  padding: 16px 32px 16px 32px;*/
  margin-top: 8px;
  /* margin-left: 65px;*/
  /* margin-bottom: 34px;*/
}

.modal-label {
  display: inline-block;
  color: rgb(142, 143, 153);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 4%;
  margin-bottom: 5px;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
  display: block;
}

.icon-close-back {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-back:hover {
  /*fill: #4d5ae5;*/
  fill: #ffffff;
}

.icon-close-back:focus {
  /*fill: #4d5ae5;*/
  fill: #ffffff;
}

.icons-label {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-label:focus {
  fill: #4d5ae5;
}

.label-div {
  position: relative;
  /*margin-bottom: 16px;*/ /*new code */
}

.modal-filed {
  margin-bottom: 8px;
}
.modal-filed-big {
  margin-bottom: 16px;
}
.modal-filed-big-big {
  margin-bottom: 24px;
}
.user-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  font-size: 12px;
  color: rgba(46, 47, 66, 0.4);
  letter-spacing: 0.04em;
  line-height: 1.17;
  height: 120px;
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment:focus {
  border-color: #4d5ae5;
}

.modal-comment {
  width: 56px;
  height: 14px;
  color: rgb(142, 143, 153);
}
.visually-hidden {
}

.model-check {
}

.svg-policy {
}

.modal-cheeck-text {
  color: rgb(142, 143, 153);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.17;
}

.modal-cheeck-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cheeck:checked + .modal-cheeck-text > .modal-cheeck-item {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

/*------------------------------------------------------*/
.text-sub {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*flex-direction: row;
  margin-top: 100px;
  margin-top: 100px;
  align-items: baseline;*/
  gap: 24px;
}
.footer-field {
  gap: 24px; /* скорее всего неправильно тест после загрузки одноу удалить*/
}
.input-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.input-email::placeholder {
  color: #ffffff;
}

.footer-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.images-foter {
  margin-left: 16px;
}

/*------------------------------TABLET --------------------------------*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header {
    width: 768px;
    height: 72px;
  }

  .nav-one {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .list-menu-nav {
    gap: 40px;
    margin-right: 40px 0;
    padding: 25.5px 0px 25.5px 0px;
    display: flex;
  }
  .list-menu-nav {
    gap: 40px;
    margin-right: 40px 0;
    /*--margin-top: 24px;--*/
    /*--margin-bottom: 24px;--*/
    /*display: block; /*--test--*/
    padding: 24px 0 24px;
  }

  .menu-nav {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /*1*/
  }

  .address {
    display: flex;
    flex-direction: column;

    gap: 12px;
    font-style: normal;
  }
  .mailto {
    font-size: 12px;
    width: 119px;
    height: 14px;
  }
  .section-one {
    max-width: 768px;
    padding: 0px 0px 0px 0px;
    height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_tablet_1x.jpeg);
  }
  /*
  @media screen and (min-resolution: 2x) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_tablet_2x.jpeg.jpg);
  } */

  .title {
    width: 496px;
    height: 120px;
    margin-top: 112px;
    font-size: 56px;
  }

  .button {
    margin: 0px auto 0px auto;
  }

  .flex-class-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-two {
    padding-top: 96px;

    padding-bottom: 96px;
  }

  .list-advantages {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .advantages-list {
    width: calc((100% - 70px) / 2);
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8;
  }

  .section-three-ul {
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
  }
  .section-three-li {
    /*width: calc((100% - 72px) / 2);*/
    width: calc((100% - 210px) / 2);
  }
  .team-name-position {
    padding-top: 0px;
    padding-bottom: 32px;
  }
  .name-team {
    margin-top: 32px;
  }

  .section-four {
    padding: 96px 0 96px 0;
  }

  .portfolio-list-ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .portfolio-list {
    width: 356px;
  }

  .logo-text {
    width: 264px;
  }
}
/*------------------------------PK --------------------------------*/
/*

@media screen and (max-wight: 1158px) {
  .container {
    width: 1158px;
  }
.address {
 /* display: flex;}
  
  .list-menu-nav {
  display: flex; 
}

.header {
  /*width: 1440px;
  /*height: 72px;

}

.title{
  /*margin: 0 0 0 0;
}

@media screen and (min-resolution: 2x) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_deckop_2x.jpeg.jpg);
  }

  .flex-class-section-two {
    align-items: center;
  }

   /* padding-top: 188px;
  padding-bottom: 188px;*/

/*background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/backround.jpg); 

  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  /*max-width: 1440px;*/
/*---max-width: 1408px;-----*/

.title {
  /*font-size: 56px; для пк*/
  /*max-width: 496px;
       letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
   margin: 0 0 0 0;*/
}

.section-two {
  /*
    padding-left: 0px;
  }

  .list-name {
    /*flex: none;
  order: 0;
  flex-grow: 0;
  /*text-align: left;*/
  /*font-size: 20px;*/
}

.advantages-list {
  /*width: calc((100% - 70px) / 4);*/
  /*width: 100%;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8;*/
}

.list {
  /*margin-bottom: 16px;*/
}

.section-three {
  /*padding-top: 120px;/*
  /*padding-bottom: 120px;*/
}

.our-team {
}

.section-three-ul {
  /*
    display: flex;
    gap: 24px;*/
}
/*--
.section-three-icon {
  position: static;

  background-color: #0073e6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
  
  .portfolio-list-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.container-footer {
  display: flex;
  flex-direction: row;

  align-items: baseline;

  justify-content: space-between;
}
.container-footer-inline-block {
  display: inline-block;
}

  .logo-text {
  /*max-width: 264px;
  
}
  .web-footer {
  /*margin-right: 76px;}

.container-footer {
align-items: baseline;

justify-content: space-between;}

.logo-par {
  /*
  margin-right: 120px; PK


}

modal mobile

.modal {
  width: 288px;
  height: 623px;}

  .modal-title {
  width: 360px;
  height: 24px;
  }
  .modal {
  padding-left: 16px;
  padding-right: 16px; 
  top: 50%;
*/

@media screen and (min-resolution: 2x) {
}
