@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    min-width: 1158px;
    padding: 0 15px;
  }
}

/*--------------------------------------------header mobile-------------------------------*/
/*--mobile-+-*/
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/*--mobile-+-*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/*--mobile-+-*/
.flex-class-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*--mobile-+-*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
/*--mobile-+-*/
.web {
  padding: 16px 0;
  display: block;
}
/*--mobile-+-*/
.web .logo-header {
  color: #2e2f42;
}
/*--mobile-+-*/
.list-menu-nav,
.contacts {
  display: none;
}
/**/
/*--mobile--*/
.top-line-bg {
  color: rgb(64, 75, 191);
  position: relative;
}
/*--mobile--*/
.top-line-bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(64, 75, 191);
  left: 0;
  border-radius: 2px;
  bottom: 0;
  align-items: flex-end;
  border-radius: 2px;
  bottom: -1px;
}
/*--mobile--*/
.mailto {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /**/
}
/*--mobile--*/
.mailto:hover .mailto:focus {
  color: #404bbf;
}
/*--mobile--*/
.menu-nav:focus .menu-nav:hover {
  color: #404bbf;
}
/*--mobile--*/
.newbr {
  padding: 0;
  border: none;
  background-color: transparent;
}
/* ---------------------------------MOBILE MENU-----------------------------*/
/*--mobile--*/
.mobile-menu {
  width: 320px;
  height: 640px;
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 1;

  padding-top: 24px;
  padding-right: 24px;
  padding-left: 16px;
  padding-bottom: 40px;
}
/*--mobile--*/
.new-button {
  width: 24px;
  height: 24px;

  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: rgb(231, 233, 252);
  border-radius: 50%;
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  /*cursor: pointer;*/
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*--mobile--*/
.list-menu-window {
  width: 151px;
  height: 200px;
  margin-top: 26px;
}
.menu-window {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: black;
}
/*--mobile--*/
.mob-menyu-item {
  margin-bottom: 40px;
}
.mob-menyu-item:first-child .menu-window {
  color: rgb(64, 75, 191);
}

/*--mobile--*/
.address-window {
  margin-top: 126px;
}
/*--mobile--*/
.mailto-window-list {
  margin-bottom: 24px;
}
/*--mobile--*/
.mailto-window {
  letter-spacing: 1.1;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  color: rgb(67, 68, 85);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--mobile--*/
.mailto-window-list:first-child .mailto-window {
  color: rgb(64, 75, 191);
}
/*--mobile--*/
.header-mobile-icons {
}
/*--mobile--*/
.header-menu-icons {
  display: flex;
  gap: 16px;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 48px;
}
/*--mobile--*/
.header-social-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*--mobile--*/
.header-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*--mobile--*/
.social-svg-social {
  align-content: center;
}
/*--------------------------------------------SECTION-ONE-------------------------------*/
/*mobile*/
.title {
  color: #ffffff;
  width: 216px;
  font-size: 36px;
  height: 160px;

  font-weight: 700;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  margin-top: 72px;
  margin-bottom: 0px;
}
/*mobile*/
.section-one {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_mob-min.jpeg.jpeg);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-size: cover;
}
/*mobile*/
@media screen and (min-resolution: 2x) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_mob@2_min.jpeg);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-size: cover;
  }
}
/*mobile*/
.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  /*cursor: pointer;*/
  padding: 16px 32px 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  gap: 10;
  /*margin: 46px auto 0px auto;*/
  margin-bottom: 72px;
  margin-top: 72px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*mobile*/
.button:hover {
  background-color: #404bbf;
}
/*mobile*/
.button:focus {
  background-color: #404bbf;
}
/*mobile*/
.flex-class-section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*------------------------------------SECTION-TWO-------------------------------------*/
/*mobile*/
.section-two {
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 24px;
  /* margin-left: 99px;*/
}
/*mobile*/

/*mobile*/
.section-two-icon {
  width: 264px;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  display: none;
}
/*mobile*/
.list-name {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 8px;
  margin-top: 0px;
  text-align: center;
}
/*mobile*/
.list {
  color: #434455;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: left;
  margin-bottom: 72px;
}

/*----------------------------SECTION-THREE----------------------------*/
/*mobile*/
.section-three {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
/*mobile*/
.our-team {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}
/*mobile*/
.section-three-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
/*mobile*/
.section-three-li {
  background-color: #ffffff;
  width: calc((100% - 72px) / 1);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background: rgb(255, 255, 255);
  width: 264px;
  height: 428px;
}
/*mobile*/
.team-name-position {
  padding-top: 32px;
  padding-bottom: 32px;
}
/*mobile*/
.name-team {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 8px;
}
/*mobile*/
.position-team {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/*mobile*/
.section-three-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8px;
  margin-left: 16px;
}
/*mobile*/
.section-three-item {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}
/*mobile*/
.section-three-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /*1*/
}
/*mobile*/
.section-three-icon:hover {
  background-color: #404bbf;
}
/*mobile*/
.section-three-icon:focus {
  background-color: #404bbf;
}
/*mobile*/
.section-three-icon-svg {
  fill: #f4f4fd;
}
/*----------------------------------SECTION FOUR(4)--------------------------------*/
/*mobile*/
.section-four {
  padding: 96px 0 96px 0;
}
/*mobile*/
.our-portfolio {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-top: 0px;
}
/*mobile*/
.portfolio-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 0px;
}
/*mobile*/
.portfolio-list-ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 288px;
}
/*mobile*/
.portfolio-list {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background: rgb(255, 255, 255);
}
/*mobile*/
.portfolio-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/*mobile*/
.portfolio-list:hover .text-cover {
  transform: translateY(0%);
}
/*mobile*/
.text-cover {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  height: 100%;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  display: none;
}
/*mobile*/
.port-list-container {
  position: relative;
  overflow: hidden;
}
/*mobile*/
.portfolio-name-portfolio-discripion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8;
  padding: 32px 16px 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 0px;
}
/*mobile*/
.portfolio-discripion {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*------------------------------FOOTER---------------------------------*/
/*mobile*/
.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
/*mobile*/
.web-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
  text-align: center;
}
/*mobile*/
.logo-footer {
  color: #f4f4fd;
}
/*mobile*/
.logo-par {
  display: flex;
  flex-direction: column;
}
/*mobile*/
.logo-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  text-align: left;
}
/*mobile*/
.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*mobile*/
.container-footer-inline-block {
  display: inline-block;
}
/*mobile*/
.footer-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  margin-top: 72px;
  text-align: center;
}
/*mobile*/
.foter-social-ul {
  display: flex;
  gap: 16px;
}
/*mobile*/
.social-media-item {
  width: 40px;
  height: 40px;
}
/*mobile*/

.social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*mobile*/
.social-media-link:hover {
  background-color: #31d0aa;
}
/*mobile*/
.social-media-link:focus {
  background-color: #31d0aa;
}
/*mobile*/
.social-svg {
  fill: #f4f4fd;
}
/*mobile*/
.subs-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
/*mobile*/
.text-sub {
  background-color: #2e2f42;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-top: 72px;
  margin-bottom: 16px;
}
/*mobile*/
.subscribe-form {
  gap: 24px;
}
/*mobile*/
.input-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
/*mobile*/
.input-email::placeholder {
  color: #ffffff;
}
/*mobile*/
.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;

  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  min-width: 165px;
  height: 40px;
  color: #ffffff;
  /*cursor: pointer;*/
  border: none;
}

/*mobile*/
.images-svg-foter {
  margin-left: 16px;
}
/*mobile*/
.subscribe-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
/*mobile*/
.input-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
/*mobile*/
.input-email::placeholder {
  color: #ffffff;
}
/*mobile*/
.images-foter {
  margin-left: 16px;
  fill: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------------------------MODAL---------------------------------*/
/*mobile*/
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*padding: 16px 24px 16px 24px; /**/
}
/*mobile*/
.modal {
  /*width: 288px;
  min-height: 623px;*/
  top: 50%;
  left: 50%;
  background-color: rgb(252, 252, 252);
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 24px 16px 24px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*mobile*/
.modal-button {
  width: 24px;
  height: 24px;
  /*position: absolute;*/
  display: block;

  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  padding: 0;

  /*right: 24px;
  top: 24px;*/
  margin-bottom: 24px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: rgb(231, 233, 252);
  border-radius: 50%;
  /*cursor: pointer;*/
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*mobile*/
.modal-button:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
/*mobile*/
.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
/*mobile*/
.modal-title {
  color: rgb(46, 47, 66);
  font-family: Roboto;
  font-size: 16px;
  margin-top: 24px;
  width: 256px;
  height: 48px;
  letter-spacing: 2%;
  text-align: center;
  left: 28px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px; /**/
}
/*mobile*/
.modal-form {
  margin-top: 16px;
}
/*mobile*/
.input-name {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 40px;
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*mobile*/
.input-name:focus {
  border-color: #4d5ae5;
}
/*mobile*/
.input-name:focus + .icons-label {
  fill: #4d5ae5;
}
/*mobile*/
.modal-button-two {
  display: block;
  margin: 0 auto 24px;
  min-width: 169px;
  height: 56px;
  position: relative;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  letter-spacing: 4%;
  top: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  /*cursor: pointer;*/
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*mobile*/
.button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  margin-top: 8px;
}
/*mobile*/
.modal-label {
  display: inline-block;
  color: rgb(142, 143, 153);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 4%;
  margin-bottom: 5px;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
  display: block;
}
/*mobile*/
.icon-close-back {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*mobile*/
.icon-close-back:hover {
  fill: #ffffff;
}
/*mobile*/
.icon-close-back:focus {
  fill: #ffffff;
}
/*mobile*/
.icons-label {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*mobile*/
.icons-label:focus {
  fill: #4d5ae5;
}
/*mobile*/
.label-div {
  position: relative;
}
/*mobile*/
.modal-filed {
  margin-bottom: 8px;
}
/*mobile*/
.modal-filed-big {
  margin-bottom: 16px;
}
/*mobile*/
.modal-filed-big-big {
  margin-bottom: 24px;
}
/*mobile*/
.user-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  font-size: 12px;
  color: rgba(46, 47, 66, 0.4);
  letter-spacing: 0.04em;
  line-height: 1.17;
  height: 120px;
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*mobile*/
.user-comment:focus {
  border-color: #4d5ae5;
}
/*mobile*/
.modal-comment {
  width: 56px;
  height: 14px;
  color: rgb(142, 143, 153);
}
/*mobile*/
.modal-cheeck-text {
  color: rgb(142, 143, 153);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.17;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
}
/*mobile*/
.modal-cheeck-item {
  flex-shrink: 0;
  /*display: inline-flex;*/
  /*display: flex;
  align-items: center;
  /*justify-content: center;*/
  fill: transparent;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.moti {
}

/*mobile*/
.modal-cheeck:checked + .modal-cheeck-text > .modal-cheeck-item {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
/*mobile*/
.policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

/*------------------------------TABLET --------------------------------*/
@media screen and (min-width: 768px) {
  /*------------header---------*/
  /*--tablet-+-*/
  .newbr {
    display: none;
  }
  /*--tablet-+-*/
  .nav-one {
    display: flex;
    align-items: center;
  }
  /*--tablet-+-*/
  .web {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 120px;
  }
  /*--tablet-+-*/
  .list-menu-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  /*--tablet--+*/
  .menu-nav {
    display: block;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /*1*/
  }
  /*--tablet--+*/
  .contacts {
    display: block;
    font-style: normal;
  } /*--tablet--+*/
  .address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .mailto {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /*--tablet--+*/
  .top-line-bg {
    color: rgb(64, 75, 191);
    position: relative;
  }
  /*--tablet--+*/
  .top-line-bg::after {
    position: relative;
  }
  /*--tablet--+*/
  .top-line-bg::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  /*--tablet--+*/
  .mailto:hover .mailto:focus {
    color: #404bbf;
  }
  /*--tablet--+*/
  .menu-nav:focus .menu-nav:hover {
    color: #404bbf;
  }
  /*----------------------secteion 1-----------------*/
  /*--tablet--*/
  .section-one {
    /*max-width: 768px;
    padding: 0px 0px 0px 0px;
    height: 436px;*/
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_tablet-min.jpeg);
  }
  /*--tablet--*/
  .title {
    width: 496px;
    height: 120px;
    margin-top: 112px;
    font-size: 56px;
  }
  /*----------------------secteion 2-----------------*/
  /*--tablet--*/
  .section-two {
    padding-top: 96px;
    padding-bottom: 17px;
  }
  /*--tablet--*/
  .section-two-icon {
    display: none;
  }
  /*--tablet--*/
  .list-advantages {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 0px;
  }
  /*--tablet--*/
  .advantages-list {
    width: calc((100% - 24px) / 2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8;
    padding: 0px;
  }
  /*--tablet--*/
  .list-name {
    text-align: left;
    font-weight: 700;
  }
  /*--tablet--*/
  .list {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
  }
  /*----------------------secteion 3-----------------*/
  /*--tablet--*/
  .section-three-ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 24px;
    row-gap: 96px;
  }
  /*--tablet--*/
  .section-three-li {
    width: calc((100% - 210px) / 2);
  }
  /*--tablet--*/
  .team-name-position {
    padding-top: 0px;
    padding-bottom: 32px;
  }
  /*--tablet--*/
  .name-team {
    margin-top: 32px;
  }
  /*--tablet--*/
  .our-team {
    margin-top: 0px;
  }
  /*----------------------secteion 4-----------------*/
  /*--tablet--*/
  .section-four {
    padding: 103px 0 94px 0;
  }
  /*--tablet--*/
  .portfolio-list-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    align-items: center;
    width: 100%;
  }
  /*--tablet--*/
  .portfolio-list {
    width: calc((100% - 26px) / 2);
  }
  /*----------------------footer-----------------*/
  /*--tablet--*/
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  /*--tablet--*/
  .logo-text {
    width: 264px;
    margin-bottom: 72px;
    letter-spacing: 0.01em;
    font-weight: 400;
    font-size: 16px;
  }
  /*--tablet--*/
  .logo-par {
    margin-right: 0px;
  }
  /*--tablet--*/
  .container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    column-gap: 24px;
  }
  /*--tablet--*/
  .social-media {
    width: calc((100% - 180px) / 2);
  }
  /*--tablet--*/
  .footer-media-text {
    margin-bottom: 16px;
    margin-top: 0px;
  }
  /*--tablet--*/
  .subs-footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding-left: 0px;
    padding-right: 0px;
    width: calc((100% - 171px) / 1);
  }
  /*--tablet--*/
  .subscribe-subscribe {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 24px;
  }
  /*--tablet--*/
  .web-footer {
    margin-left: 0px;
    text-align: left;
  }
  /*--tablet--*/
  .footer-media-text {
    text-align: left;
  }
  /*--tablet--*/
  .footer-btn {
    margin-right: 0px;
  }
  /*--------------------MODAL_TaBLET------------------*/
  /*--tablet--*/
  .modal {
    width: 408px;
    min-height: 584px;
    top: 37%;
    padding: 24px 24px 24px 24px;
    left: 50%;
    background-color: rgb(252, 252, 252);
  }
  /*--tablet--*/
  .modal-title {
    width: 360px;
    height: 24px;
  }
  /*--tablet--*/
  .modal-button-two {
    /*margin-right: 100px;*/
    margin-bottom: 24px;
  }
}
/*------------------------------PK --------------------------------*/
@media screen and (min-width: 1158px) {
  /*--PK--*/
  .newbr {
    display: none;
  }
  /*--PK--*/
  .nav-one {
    align-items: space-between;
    justify-content: flex-start;
    display: flex;
    gap: 76px;
  }
  /*--PK--*/
  .list-menu-nav {
    gap: 40px;
    padding: 24px 0 24px;
  }
  /*--PK--*/
  .address {
    display: flex;
    font-style: normal;
    flex-direction: row;
    gap: 40px;
  }
  .title {
    margin: 0px 0px 0px 0px;
  }
  .title {
    color: #ffffff;

    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    max-width: 496px;
    margin: 0 0 0 0;
  }
  .section-one {
    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backround.jpg); /* затемнення поверх фону */

    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    /*---max-width: 1408px;-----*/
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button {
    color: #ffffff;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    gap: 10;
    margin: 46px auto 0px auto;
    /*--margin-top: 46px;--*/
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button:hover {
    background-color: #404bbf;
  }

  .button:focus {
    background-color: #404bbf;
  }
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_pk-min.jpeg);
  }
  .section-two-icon {
    display: block;
    /*width: 264px;*/
    display: flex;
    align-items: center;
    justify-content: center;

    /*height: 112px;*/
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .list-advantages {
    display: flex;
    gap: 24px;
  }

  .advantages-list {
    width: calc((100% - 75px) / 4);

    /*margin-bottom: 8px;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8;

    padding: 0px;
  }
  /*----------------------------SECTION-THREE----------------------------*/

  .section-three {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(244, 244, 253);
  }

  .our-team {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .section-three-ul {
    display: flex;
    gap: 24px;
  }

  .section-three-li {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    background: rgb(255, 255, 255);
  }

  .team-name-position {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .name-team {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 8px;
  }

  .position-team {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .section-three-link {
    display: flex;
    justify-content: center;
    gap: 24px;

    /*--
  width: 40px;
  height: 40px;
  flex-direction: row;
  justify-content: space-between;

  list-style: none;
  padding: 0;
  margin: 15px;--*/
    margin-top: 8px;
  }

  .section-three-item {
    margin-right: 0px;
    width: 40px;
    height: 40px;
  }

  .section-three-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%;*/
    /*height: 100%;*/
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /*1*/
  }
  /*--
.section-three-icon {
  position: static;

  background-color: #0073e6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
--*/
  .section-three-icon:hover {
    background-color: #404bbf;
  }
  .section-three-icon:focus {
    background-color: #404bbf;
  }

  .section-three-icon-svg {
    fill: #f4f4fd;
  }
  /*----------------------------------SECTION FOUR(4)--------------------------------*/

  .section-four {
    padding: 120px 0 120px 0;
  }

  .our-portfolio {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-top: 0px;
  }

  .portfolio-name {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  .portfolio-list-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-list {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-list:hover .text-cover {
    transform: translateY(0%);
  }

  .text-cover {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    height: 100%;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /*---background-color: #404bbf;------*/
    /*---color: white;------*/
    transform: translateY(100%);
    /*---transition: transform 300ms linear;---*/
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
  }

  .port-list-container {
    position: relative;
    overflow: hidden;
  }

  .portfolio-name-portfolio-discripion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8;
    padding: 32px 16px 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 0px;
  }

  .portfolio-name {
  }

  .portfolio-discripion {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /*------------------------------FOOTER---------------------------------*/
  .footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .web-footer {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-right: 76px;
    display: inline-block;
  }

  .logo-footer {
    color: #f4f4fd;
  }

  .logo-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /*max-width: 264px;*/
  }

  .container-footer {
    display: flex;
    flex-direction: row;
    /*--margin-top: 100px;-*/
    /*--margin-top: 100px;-*/
    /*align-items: baseline;*/
    /*--margin-right: 120px;-*/
    align-items: baseline;
    justify-content: space-between;
  }
  .container-footer-inline-block {
    display: inline-block;
  }

  .social-media {
    width: 208px;
  }
  .logo-par {
    /*margin-right: 120px;*/
    display: flex;
    flex-direction: column;
  }

  .footer-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
  }

  .foter-social-ul {
    display: flex;
    gap: 16px;
  }
  .social-media-item {
    width: 40px;
    height: 40px;
  }
  .social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-media-link:hover {
    background-color: #31d0aa;
  }

  .social-media-link:focus {
    background-color: #31d0aa;
  }
  .social-svg {
    fill: #f4f4fd;
  }

  .subs-footer {
    width: 453px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
    /*width: 453px;*/
    /*height: 80px;*/
    /*margin-left: 80px;*/
    /*padding-top: 92px;*/
  }
  .text-sub {
    background-color: #2e2f42;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: left;
    margin-bottom: 16px;
  }

  .subscribe-form {
    gap: 24px;
  }
  .input-email {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
  }
  .input-email::placeholder {
    color: #ffffff;
  }
  .footer-field {
  }
  .footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /*gap: 16px;*/
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    min-width: 165px;
    height: 40px;
    color: #ffffff;
    cursor: pointer;
    border: none;
  }

  .images-svg-foter {
    margin-left: 16px;
  }

  /*------------------------------MODAL PK---------------------------------*/

  /*------------------------------------------------------*/
  .text-sub {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .subscribe-subscribe {
    display: flex;
    flex-direction: row;
    /*--margin-top: 100px;-*/
    /*--margin-top: 100px;-*/
    align-items: baseline;
    gap: 24px;
  }
  .footer-field {
    gap: 24px; /* скорее всего неправильно тест после загрузки одноу удалить*/
  }
  .input-email {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
  }

  .input-email::placeholder {
    color: #ffffff;
  }

  .footer-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
  }
  .images-foter {
    margin-left: 16px;
  }
}
/*****************************************************************/

/*
/*------------------------------OTHERS---------------------------------*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hidden {
  display: none;
}
